/* body */
body {background-color:#9AB727};


div {
        line-height:60px; background-color:white;
        
      }

.pole1 {line-height:60px; background-color:white; font-size: 20px;}
.pole2 {line-height:120px; background-color:red; font-size: 40px;}
.pole3 {line-height:240px; background-color:blue;}